.h1 {
  font-size: 38px;
  line-height: 40px;
  @apply font-normal;
}

.h2 {
  font-size: 24px;
  line-height: 28px;
  @apply font-normal;
}

.h3 {
  font-size: 16px;
  line-height: 24px;
  @apply font-normal;
}

.h4 {
  font-size: 13px;
  line-height: 16px;
  @apply font-normal;
}

.h5 {
  font-size: 12px;
  line-height: 16px;
  @apply font-normal;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  @apply font-light;
}

.body-2 {
  font-size: 13px;
  line-height: 16px;
  @apply font-light;
}

.body-3 {
  font-size: 12px;
  line-height: 16px;
  @apply font-light;
}

.caption {
  font-size: 12px;
  line-height: 16px;
  @apply font-light;
}

#storybook-root {
  h1 {
    font-size: 38px;
    line-height: 40px;
    @apply font-normal;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
    @apply font-normal;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    @apply font-normal;
  }

  h4 {
    font-size: 13px;
    line-height: 16px;
    @apply font-normal;
  }

  h5 {
    font-size: 12px;
    line-height: 16px;
    @apply font-normal;
  }
}
