.loader {
  animation: spin 1s infinite linear;

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  &::before {
    content: '';
    @apply block;
    width: 40px;
    height: 40px;
    background: {
      image: url('/images/loader.svg') !important;
      repeat: no-repeat;
      position: 0 0;
    }
  }
}
