/* Brand 2 — Derzhstat */
:root {
  /* Base */
  --primary: #000000;
  --white: #ffffff;
  --blackout: #090d13b3;
  --highlight: #fffbe6;

  /* Neutrals */
  --neutrals-1000: #000000;
  --neutrals-900: #4d4d4d;
  --neutrals-800: #666666;
  --neutrals-700: #808080;
  --neutrals-600: #bfbfbf;
  --neutrals-500: #cccccc;
  --neutrals-400: #e0e0e0;
  --neutrals-300: #f1f1f1;
  --neutrals-200: #f1f1f1;
  --neutrals-100: #f5f5f5;

  /* Hues */
  --hues-900: #4d4d4d;
  --hues-800: #000000;
  --hues-600: #7c98ac;
  --hues-400: #8fa7b8;
  --hues-200: #3398ff;
  --hues-100: #e7eef3;

  /* Accent */
  --accent-800: #80c0c8;
  --accent-700: #c3aab2;
  --accent-600: #99eecc;
  --accent-500: #a1ecc7;
  --accent-300: #fffbe6;

  /* Semantic */
  --semantic-error: #ff3a44;
  --semantic-error-light: #ffebec;
  --semantic-warning: #ffd600;
  --semantic-warning-light: #fffbe5;
  --semantic-success: #15cf74;

  /* Gradients */
  --gradients-light: #ffe33f;
  --gradients-middle: #ff9933;
  --gradients-dark: #f22920;
  --white10: #ffffff1a;
  --neutrals-300-10: #ececee1a;
}
