@use 'scroll';
@use 'buttons';
@use 'input';
@use 'fonts';
@use 'grid';
@use 'loader';
@use 'calendar';
@use 'attachments-container';
@use 'dataset-tabs';
@use 'dataset-tabs-cross-dataset-mode';
@use 'messages';
@use 'conversation-list';
@use 'share';
@use 'metadata';
@use 'download';
@use 'advance-view';
@use 'alert';
@use 'chart-attachment';
@use '../../../../libs/ui-components/src/scss/styles-tailwind';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flatpickr/dist/themes/light.css';

@layer base {
  body {
    font-family: var(--open-sans);
  }
}

@layer components {
  .main-layout {
    background-image: url('/images/chat/layout.svg');
    background-size: cover;
  }

  .dropdown-menu-shadow {
    box-shadow: 0px 1px 4px 0px #3161b04d;
  }
}
